html {
  background-color: #FFFFFF;
  font-family: Calibri;
  font-size: 14px;
}

body {
  background-color: #F0F0F0;
  width: 350px;
  border: 1px double #999999;			
}

.container {
  margin: 2px 10px 10px 10px;
}

.inputBox {
  font-family: Calibri; 
  font-size: 14px; 
  margin: 2px 2px 2px 2px;
  border: 1px solid #999999;			
}

.output {
  font-family: Calibri; 
  font-size: 14px; 
  margin: 2px 2px 2px 2px; 
}

.buttonx {
  background-color: #F0F0F0; 
  color: black; 
  border: 1px solid #AAAAAA;
  border-radius: 2px;
}

.buttonx:hover {
  background-color: #AAAAAA;
  color: black;
}

#currentEpoch,#currentTime {
  font-weight: bold;
}


